.bg{
    background-image: url("/assets/home-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main{
    background-color: rgba(0, 0, 0, 0.303);
}
.nav-link{
    color: white !important;
}

/* Form Inicio */
.form-container {
    backdrop-filter: blur(10px); /* Desenfoque */

    border-radius: 15px; /* Bordes redondeados */
    padding: 20px;
    border: 2px solid white;
    color: white;
}
.form-control, select {
    border: 2px solid white;
    color: white;
    background: transparent;
}
.form-control::placeholder {
    color: white;
}
.btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
    background-color: white;
    color: black;
}

/* Estilo del select */
  /* Aplicar estilos al desplegable */
  .form-select option {
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    color: white;
  }
  
  /* Mejorar enfoque visual */
  .form-select:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
