<main class="container d-flex flex-column flex-md-row">
    <aside>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" routerLink="/cuenta/perfil" routerLinkActive="active">Mi Perfil</a>
            <a class="nav-link" routerLink="/cuenta/historial" routerLinkActive="active">Historial de Reservas</a>
            <a class="nav-link" routerLink="/cuenta/cambiar-contrasena" routerLinkActive="active">Cambiar Contraseña</a>
            <a class="nav-link" style="cursor:pointer" (click)="cerrarSession()" routerLinkActive="active">Cerrar Sesión</a>
        </div>
    </aside>
    <router-outlet *ngIf="noHayNotificacion else mostrarMensaje"></router-outlet>
    <ng-template #mostrarMensaje>
        <section class="d-flex flex-column justify-content-center align-items-center w-100">
            <span class="material-symbols-outlined" style="font-size: 10em;" class="{{color}}">{{ simbolo }}</span>
            <p class="{{color}}">{{ mensaje }}</p>
            <p class="{{color}}">Haz click <a href="/cuenta/historial" class="fw-bold {{color}}">aquí</a> para ver su historial de reservas.</p>
        </section>
    </ng-template>
</main>