<main>
    <section class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center fw-bold mb-5">Destinos Increibles</h1>
        <article class="col-11 col-md-10 d-flex flex-column-reverse flex-md-row mb-5">
            <div class="col-12 col-md-6">
                <h2>Tucuman</h2>
                <p class="text-muted">Ubicada en el norte de Argentina es el jardín de la república.</p>
                <p>
                    Y cuna de la patria, fue donde se declaró la <strong>Independencia de Argentina</strong> en la famosa <strong>Casita de Tucuman</strong> 
                    ahora convertida en museo histórico.
                </p>
                <p>
                    Cuenta con catedrales y edificios con una arquitectura con mucha historia que persisten con el paso del tiempo, 
                    con destinos imperdibles como el <strong>Cerro San Javier, Tafí del Valle, El Cadillal,</strong> entre otros acompañado de sus sabores típicos 
                    como la famosa <strong>Milanesa Tucumana, la achilata o sus empanadas</strong>, cuenta con bares temáticos, centros comerciales, teatros y cada semana 
                    puedes encontrar muchas propuestas con diversas actividades.
                </p>
            </div>
            <figure class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="https://vamos.fullbusiness.io/assets/tucuman.png" alt="Tucuman" class="img-fluid w-50">
            </figure>
        </article>
        <article class="col-11 col-md-10 d-flex flex-column flex-md-row mt-5">
            <figure class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="https://vamos.fullbusiness.io/assets/santiago-del-estero.png" alt="Santiago del Estero" class="img-fluid w-50">
            </figure>
            <div class="col-12 col-md-6">
                <h2>Santiago del Estero</h2>
                <p class="text-muted">Ubicada en el noroeste de Argentina es una provincia como mucha historia y tradición.</p>
                <p>
                    Con su clima cálido, es un excelente destino en la temporada de invierno, donde podrás disfrutar de sabores típicos de la región como el <strong>algarroba o el mistol</strong>, disfrutar de su folclore y conocer sus puntos mas atractivos.
                </p>
                <p>
                    En la capital de la provincia podemos encontrar el estadio <strong>Madre de Ciudades</strong> donde se disputan partidos de primera y dentro del mismo se encuentra un museo.
                </p>
                <p>
                    Otra actividad es realizar el paseo por toda la ciudad en el <strong>Tren del Desarollo</strong>, su recorrido es de aproximadamente de 60 min y la entrada es gratuita.
                    Y un destino imperdible es sin duda la ciudad de <strong>Termas de Rio Hondo</strong>, su principal atractivo son sus aguas termales, con infinitas propiedades curativas aportan salud y bienestar, esta ciudad cuenta con una increíble propuesta gastronómica, hotelera y cultural. 
                </p>
                <p>
                    Con teatros y centros culturales como el <strong>Gral San Martin</strong>, circuito de velocidad de categoría internacional con museo, campo de golf, museo arqueológico asi como paisajes naturales como el embalse de rio hondo, <strong>la Isla Tara Inti</strong>. Destacando sobre todo sus aguas termales
                </p>
            </div>
        </article>
        <article class="col-11 col-md-10 d-flex flex-column-reverse flex-md-row mt-5 mb-5">
            <div class="col-12 col-md-6">
                <h2>Jujuy</h2>
                <p class="text-muted">Ubicada en el noroeste de Argentina es una provincia con paisajes naturales únicos.</p>
                <p>
                    Un destino ideal para relajarse y conectar con la naturaleza. Sus colores característicos provenientes de su cultural ancestral como sus 
                    platos cuenta con increíbles propuestas como recorrer sus pueblos que cada uno tiene su belleza así como ir a la imponente la <strong>quebrada de Humahuaca</strong>, 
                    conocer el <strong>cerro de 7 colores</strong>, sus impresionantes salinas, cuenta con las <strong>Termas de Jordan</strong> un lugar paradisiaco, 
                    asícomo sus tradicionales fiestas la mas popular los <strong>carnavales de Tilcara</strong>, un destino lleno de color, pasaisaje y tradiciones ancestrales.
                </p>
            </div>
            <figure class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="https://vamos.fullbusiness.io/assets/jujuy.png" alt="Jujuy" class="img-fluid w-50">
            </figure>
        </article>
        <article class="col-11 col-md-10 d-flex flex-column flex-md-row mt-5">
            <figure class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                <img src="https://vamos.fullbusiness.io/assets/salta.png" alt="Salta" class="img-fluid w-50">
            </figure>
            <div class="col-12 col-md-6">
                <h2>Salta</h2>
                <p class="text-muted">Ubicada en el noroeste de Argentina cuenta con arquitectura colonial y herencia andina.</p>
                <p>
                    <strong>Salta La Linda</strong> es un destino increíble, situada a los pies de la cordillera de Los Andes, con un gran atractivo turístico y sus diversos paisajes, 
                    destacan en sus deliciosos vinos, sus catedrales, la plaza 9 de Julio, actividades como el teleférico que te lleva al el <strong>cerro San Bernardo</strong>, 
                    museos arqueológicos, sus peñas para disfrutar de su folclore y lugares con mucho paisaje como <strong>Cafayate</strong>, La imponente <strong>Garganta del Diablo.</strong>
                </p>
            </div>
        </article>
    </section>
</main>