<main class="row no-gutters flex-column justify-content-center w-100 px-1 px-md-5">
  <h1 class="d-flex flex-row">
    {{ hospedaje.Titulo}}
    <h5 _ngcontent-ng-c670529074="" class="card-title d-flex align-items-end">
      <i _ngcontent-ng-c670529074="" class="material-icons text-info">star</i>
      <i _ngcontent-ng-c670529074="" class="material-icons text-info">star</i>
      <i _ngcontent-ng-c670529074="" class="material-icons text-info">star</i>
    </h5>
  </h1>
  <figcaption class="figure-caption d-flex flex-row align-items-center m-0 p-0">
    <span class="material-symbols-outlined align-bottom">location_on</span>
    {{hospedaje.Direccion}}
    <p class="bg-info text-center rounded text-light fw-bold m-0 ms-1 p-1">{{ hospedaje.Ciudad }}</p>
  </figcaption>
  
    <div class="row d-flex flex-column flex-md-row m-0 mt-2 mb-2">
        <div class="figure col-12 col-md-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <!-- Indicadores -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div 
                  *ngFor="let imagen of imagenesUrl; let i = index" 
                  class="carousel-item imgCarrucel"
                  [class.active]="i === 0"
                >
                  <img src="assets/uploads/hospedajes/{{ imagen.Name }}" class="d-block w-100 h-100 object-fit-cover">
                </div>
              </div>
              <!-- Controles de navegación -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
          {{ hospedaje.Descripcion }}
        </div>
        <div class="col-12 col-md-4">
          <!-- Calificación promedio -->
          <div class="mb-4 p-3 border rounded shadow-sm">
            <h5 class="mb-2" *ngIf="hospedaje.CalificacionPromedio>3; else calificacion">Buena calificación</h5>
            <ng-template #calificacion><h5 class="mb-2" #calificacion>Calificación</h5></ng-template>
            <p class="mb-2 text-primary d-flex align-items-center">
              <span class="me-2 display-6" *ngIf="hospedaje.CalificacionPromedio>0; else noCalificacion">{{ calificacionPromedio }}</span>
              <a (click)="scrollToSection('verCalificaciones')" class="nav-link  text-decoration-none" *ngIf="hospedaje.CalificacionPromedio>0">| Ver calificaciones</a>
            </p>
            <ng-template #noCalificacion>
                <p class="text-center text-muted mb-4">No hay calificaciones disponibles</p>
            </ng-template>
          </div>
        
          <!-- Mapa de ubicación -->
          <div class="mb-4 p-3 border rounded shadow-sm">
            <h5 class="mb-3">Ubicación</h5>
            <div class="ratio ratio-16x9">
              <iframe *ngIf="hospedaje.Coordenadas != '' && hospedaje.Coordenadas != null && hospedaje.Coordenadas != undefined else noMapa"
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                [src]="getMapUrl(hospedaje.Coordenadas)">
              </iframe>
              <ng-template #noMapa>
                <p class="text-center text-muted">No hay ubicación disponible</p>
              </ng-template>
            </div>
          </div>
        
          <!-- Botón de disponibilidad -->
          <div class="text-center mb-4">
            <a (click)="scrollToSection('verHabitaciones')" class="btn btn-info btn-lg w-100" >Ver Disponibilidad</a>
          </div>

          <!-- Servicios del hospedaje -->
          <div class="p-3 border rounded shadow-sm">
            <h5 class="mb-3">Servicios del hospedaje</h5>
            <ul class="list-inline text-center mb-0">
              <li class="list-inline-item me-3" *ngFor="let idServicio of hospedaje.Servicios.split(',')">
                <span class="material-symbols-outlined text-success align-middle">check</span>
                <span class="ms-1">{{ getNombreServicio(idServicio,0) }}</span>
                <span class="ms-1 text-muted">{{ getDescripcionServicio(idServicio) }}</span>
              </li>
            </ul>            
          </div>
        </div>
      </div>

  <!-- Formulario de disponibilidad -->
  <div class="p-3 border rounded shadow-sm mt-4" #verHabitaciones>
    <h2 class="mb-3">Disponibilidad</h2>
    <form (ngSubmit)="filtrar()" #reservaForm="ngForm" class="row g-3 justify-content-center">
      <div class="col-md-4 border shadow-sm">
        <label for="fechaDesdeHasta" class="form-label">Fechas</label>
        <p class="mb-2 text-primary" (click)="mostrarDatepicker = true">
          {{ desde | date }} | {{ hasta | date }}
        </p>
        <app-datepicker 
          *ngIf="mostrarDatepicker" 
          (datesSelected)="onDatesSelected($event)" 
          [idHospedaje]="idHospedaje">
        </app-datepicker>
      </div>

      <!-- Cantidad de Personas -->
      <div class="col-md-4 border shadow-sm d-flex flex-row align-items-center">
        <label for="cantidadPersonas" class="form-label fw-bold">
          <span class="material-symbols-outlined align-bottom">person</span>
        </label>
        <select id="filterPersonas" class="form-select" [(ngModel)]="personas" name="personas">
          <option value="1">1 Persona</option>
          <option value="2">2 Personas</option>
          <option value="3">3 Personas</option>
          <option value="4">4 Personas</option>
          <option value="5">5 Personas o más</option>
        </select>
      </div>

      <!-- Botón de Buscar -->
      <div class="col-md-2 text-center">
        <button type="submit" class="btn btn-primary w-100" [disabled]="!desde && !hasta && !personas">
          Ver Disponibilidad
        </button>
      </div>
    </form>
  </div>

  <div class="mt-4" *ngIf="hayHabitaciones; else noHabitaciones">
    <div *ngFor="let habitacion of habitaciones" class="d-flex justify-content-between align-items-center border rounded p-3 mb-3 shadow-sm">
      <!-- Información de la habitación -->
      <div>
        <h5 class="mb-1">Habitación {{ habitacion.Numero }} - {{ habitacion.Tipo }}</h5>
        <p class="mb-1">
          <strong>Capacidad:</strong> {{ habitacion.Capacidad }} personas <br>
          <strong>Precio por noche:</strong> ${{ habitacion.Precio | number:'1.2-2' }}
        </p>
        <h6 class="mb-2 text-muted">Servicios incluidos:</h6>
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-3" *ngFor="let idServicio of habitacion.Servicios.split(',')">
            <span class="material-symbols-outlined text-success align-middle">check_circle</span>
            <span class="ms-1">{{ getNombreServicio(idServicio,1) }}</span>
          </li>
        </ul> 
      </div>
  
      <!-- Botón Reservar y Precio Total -->
      <div class="text-end">
        <p class="mb-1 text-muted">
          Precio total: <strong>${{ habitacion.Precio * noches | number:'1.2-2' }}</strong>
        </p>
        <small class="d-block text-muted mb-2">Precio por <strong>{{ noches }}</strong> noches</small>
        <button class="btn btn-primary" (click)="reservar(habitacion.IdHabitacion, habitacion.Precio, habitacion.Numero)">
          Reservar
        </button>
      </div>
    </div>
  </div>  
  <ng-template #noHabitaciones>
    <p class="text-center">No hay habitaciones disponibles con tus requerimentos</p>
  </ng-template>

  <app-resenas [page]="'hospedaje'" [IdHospedaje]="idHospedaje" #verCalificaciones></app-resenas>
</main>