<main class="d-flex flex-column justify-content-center alig-items-center">
    <div class="container-fluid p-0">
        <!-- Imagen de portada -->
        <div class="bg-cover" style="background-image: url('https://vamos.fullbusiness.io/assets/cerro-de-los-7-colores-jujuy.jpg'); height: 400px; background-position-y:30% ; background-size: 100%;">
          <div class="d-flex justify-content-center align-items-center h-100 text-white">
            <h1 class="h1 fw-bold display-1">Soporte</h1>
          </div>
        </div>
      </div>
      <div class="container my-5">
        <!-- Sección de contacto -->
        <div class="row">
          <div class="col-md-6">
            <h3>Contáctanos</h3>
            <p>Si necesitas ayuda, no dudes en contactarnos a través de los siguientes medios:</p>
            <ul class="list-unstyled">
              <li>
                <strong>Teléfono: </strong> <a class="text-primary" href="tel:+543855889378">+54 385 588-9378</a>
              </li>
              <li>
                <strong>Email: </strong> <a class="text-primary" href="mailto:vamos.agencia.tur&#64;gmail.com">vamos.agencia.tur&#64;gmail.com</a>
              </li>
              <li>
                <strong>WhatsApp: </strong> <a class="text-primary" href="https://api.whatsapp.com/send?phone=543855889378" target="_blank">Chatear con nosotros</a>
              </li>
            </ul>
          </div>
      
          <!-- Sección de preguntas frecuentes -->
          <div class="col-md-6">
            <h3>Preguntas Frecuentes</h3>

            <!-- Acordeon -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#1era" aria-expanded="false" aria-controls="1era">
                      ¿Problemas con las reservas ?
                    </button>
                  </h2>
                  <div id="1era" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Si tuviste algún problema por favor envíanos un email con el título de - Incidencias - al email : consultas.vamos&#64;gmail.comY te respondemos en la brevedad.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#2da" aria-expanded="false" aria-controls="2da">
                      ¿Puedo organizar un tour personalizado? 
                    </button>
                  </h2>
                  <div id="2da" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Si, nuestro equipo trabaja para que puedas tener la experiencia que mejor se adapte a ti.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#3ra" aria-expanded="false" aria-controls="3ra">
                      ¿Cuando se efectúa la reserva? 
                    </button>
                  </h2>
                  <div id="3ra" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">La reserva se hace efectiva en el momento de cobro.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#4ta" aria-expanded="false" aria-controls="4ta">
                      ¿Puedo cancelar mi reserva? 
                    </button>
                  </h2>
                  <div id="4ta" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Las reservas están sujetas a políticas de cancelación. Si desea cancelar en menos de 24hs no es posible un reembolso.<br>Si desea realizar un cambio debe realizarse con un minimo de 72hs ( 3 días )</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#5ta" aria-expanded="false" aria-controls="5ta">
                      ¿Incluye seguro?
                    </button>
                  </h2>
                  <div id="5ta" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Todos nuestros servicios incluyen seguro.</div>
                  </div>
                </div>
              </div>

            <!--  Fin Acordeon -->
          </div>
    
        </div>
    
    </div>
</main>