<h2 class="text-center">Gestión de Habitaciones</h2>
<p class="text-success" *ngIf="mensaje">{{ mensaje }}</p>
<button class="btn btn-warning" (click)="editarAgregar(0)">Agregar Habitacion</button>
<div class="table-responsive">
  <table class="table table-striped table-bordered mt-4">
    <thead class="thead-dark">
      <tr>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Capacidad</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody *ngIf="habitaciones.length>0">
      <tr *ngFor="let habitacion of habitaciones; let i = index">
        <td>{{ habitaciones[i].Numero }}</td>
        <td>{{ habitaciones[i].Tipo }}</td>
        <td>{{ habitaciones[i].Precio }}</td>
        <td>{{ habitaciones[i].Capacidad }}</td>
        <td>
          <button 
            class="btn btn-info btn-sm" 
            (click)="editarAgregar(1) ; habitacionActiva = habitacion">
            Editar
          </button>
        </td>
        <td>
          <button 
            class="btn btn-danger btn-sm" 
            (click)="eliminarHabitacion(habitacion.IdHabitacion)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="mostrarServicios" class="mt-4 p-3 bg-light rounded">
  <div>
    <h4>Habitación {{habitacionActiva.Numero}}</h4>
    <div class="form-group">
      <label for="Numero">Numero</label>
      <input type="number" id="Numero" class="form-control" [(ngModel)]="habitacionActiva.Numero" [disabled]="!esHabitacionNueva" name="Numero" required>
    </div>
    <div class="form-group">
      <label for="Tipo">Tipo</label>
      <select  [(ngModel)]="habitacionActiva.Tipo" class="form-select">
        <option value="individual">individual</option>
        <option value="doble">doble</option>
        <option value="suite">suite</option>
        <option value="deluxe">deluxe</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Precio">Precio</label>
      <input type="text" id="Precio" class="form-control" [(ngModel)]="habitacionActiva.Precio" name="Precio" required>
    </div>
    <div class="form-group">
      <label for="Capacidad">Capacidad</label>
      <input type="text" id="Capacidad" class="form-control" [(ngModel)]="habitacionActiva.Capacidad" name="Capacidad" required>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <h4 class="text-secondary">Servicios de la Habitación {{ habitacionActiva.Numero }}:</h4>
    <button class="btn btn-outline-danger text-danger" (click)="mostrarServicios = false">X Cerrar</button>
  </div>
  <div *ngFor="let servicio of serviciosHabitacion">
    <div class="form-check">
        <input 
            class="form-check-input" 
            type="checkbox" 
            value="{{servicio.IdServicio}}"
            [checked]="servicioSeleccionado(servicio.IdServicio)" 
            (change)="almacenarServicios($event)">
        <label class="form-check-label">
            {{ servicio.Nombre }}
        </label>
    </div>
  </div>
  <button class="btn btn-warning ms-auto" (click)="actualizarHabitacion()">Guardar</button>