<main class="register-form d-flex flex-column justify-content-center align-items-center">
  <section class="col-11 col-md-4">
    <h2>Crear Nuevo Usuario</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control" id="nombre" type="text" [(ngModel)]="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input class="form-control" id="apellido" type="text" [(ngModel)]="apellido" name="apellido" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input class="form-control" id="telefono" type="text" [(ngModel)]="telefono" name="telefono" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input class="form-control" id="pass" type="password" [(ngModel)]="pass" name="pass" required>
      </div>
      <div class="form-group">
        <label for="confirmpass">Confirmar Contraseña</label>
        <input class="form-control" id="confirmPassword" type="password" [(ngModel)]="confirmPass" name="confirmPass" required>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Registrar</button>
    </form>
    <div *ngFor="let mensaje of mensajesError">
      <p class="text-danger">{{ mensaje }}</p>
    </div>
    </section>
</main>
  