<div class="relative">
  <div class="swiper destinations-swiper">
    <div class="swiper-wrapper">
      <!-- 🔁 Iterar sobre slides -->
       @for(image of images ; track $index){
         <div class="swiper-slide">
           <div class="relative">
             <img
               [src]="image.url"
               class="w-full lg:h-[500px] object-cover"
               [alt]="image.alt || image.title"
             />
             <div class="absolute inset-0 flex flex-col items-center m-5">
              @if(image.title){
                <h3 class="font-bold text-white text-xl bg-black opacity-90 p-2 rounded h3">
                  {{ image.title }}
                </h3>
              }
             </div>
           </div>
         </div>
       }
    </div>

    <!-- Navigation buttons -->
    <div class="swiper-button-prev text-white w-12 h-12"></div>
    <div class="swiper-button-next text-white w-12 h-12"></div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
