<div class="relative">
  <!-- Slider main container -->
  <div class="swiper destinations-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <!-- Slide 1: Termas de Río Hondo -->
      <div class="swiper-slide">
        <div class="relative">
          <img
            src="http://localhost:4001/uploads/assets/termas-de-rio-hondo.jpg"
            class="w-full h-[500px] object-cover"
            alt="Termas de Río Hondo"
          />
          <div class="absolute inset-0 flex flex-col items-center m-5">
            <h3 class="font-bold text-white text-xl bg-black opacity-90 p-2 rounded h3">
              Termas de Río Hondo (SDE)
            </h3>
          </div>
        </div>
      </div>
      
      <!-- Slide 2: Tucumán -->
      <div class="swiper-slide">
        <div class="relative">
          <img
            src="http://localhost:4001/uploads/assets/tucuman.jpg"
            class="w-full h-[500px] object-cover"
            alt="Tucumán"
          />
          <div class="absolute inset-0 flex flex-col items-center m-5">
            <h3 class="font-bold text-white text-xl bg-black opacity-90 p-2 rounded h3">
              Tucumán
            </h3>
          </div>
        </div>
      </div>
      
      <!-- Slide 3: Salta -->
      <div class="swiper-slide">
        <div class="relative">
          <img
            src="http://localhost:4001/uploads/assets/salta.jpg"
            class="w-full h-[500px] object-cover"
            alt="Salta"
          />
          <div class="absolute inset-0 flex flex-col items-center m-5">
            <h3 class="font-bold text-white text-xl bg-black opacity-90 p-2 rounded h3">
              Salta
            </h3>
          </div>
        </div>
      </div>
      
      <!-- Slide 4: Jujuy -->
      <div class="swiper-slide">
        <div class="relative">
          <img
            src="http://localhost:4001/uploads/assets/jujuy.jpg"
            class="w-full h-[500px] object-cover"
            alt="Jujuy"
          />
          <div class="absolute inset-0 flex flex-col items-center m-5">
            <h3 class="font-bold text-white text-xl bg-black opacity-90 p-2 rounded h3">
              Jujuy
            </h3>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Navigation buttons -->
    <div class="swiper-button-prev text-white w-12 h-12"></div>
    <div class="swiper-button-next text-white w-12 h-12"></div>
    
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>