<section class="container table-responsive">
    <button class="btn btn-info" (click)="editarAgregar(0)">Agregar Actividad</button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-4">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Ciudad</th>
              <th>Precio</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let actividad of actividades; let i = index">
              <td>{{ actividades[i].Nombre }}</td>
              <td>{{ actividades[i].Descripcion }}</td>
              <td>{{ actividades[i].Ciudad }}</td>
              <td>{{ actividades[i].Precio }}</td>
              <td>
                <button 
                  class="btn btn-info btn-sm" 
                  (click)="editarAgregar(1) ; actividadActiva = actividad">
                  Editar
                </button>
              </td>
              <td>
                <button 
                  class="btn btn-danger btn-sm" 
                  (click)="eliminar(actividad.IdActividad)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</section>

<form *ngIf="mostrarEditor" class="mt-4 p-3 bg-light rounded" enctype="multipart/form-data">
    <div class="d-flex flex-row justify-content-between">
        <h4>Modificar Actividad</h4>
        <button class="btn btn-outline-danger text-danger" (click)="mostrarEditor = false">X Cerrar</button>
    </div>
    <div>
      <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" id="Nombre" class="form-control" [(ngModel)]="actividadActiva.Nombre" name="Nombre" required>
      </div>
      <div class="form-group">
        <label for="Descripcion">Descripcion</label>
        <input type="text" id="Descripcion" class="form-control" [(ngModel)]="actividadActiva.Descripcion" name="Descripcion" required>
      </div>
      <div class="form-group">
        <label for="Ciudad">Ciudad</label>
        <select  [(ngModel)]="actividadActiva.Ciudad" class="form-select" name="Ciudad">
          <option value="Termas">Termas</option>
          <option value="Tucuman">Tucuman</option>
          <option value="Salta">Salta</option>
          <option value="Jujuy">Jujuy</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Precio">Precio</label>
        <input type="text" id="Precio" class="form-control" [(ngModel)]="actividadActiva.Precio" name="Precio" required>
      </div>
      <div class="form-group" *ngIf="esActividadNueva">
        <label for="Imagen">Imagen</label>
        <input type="file" (change)="onFileSelected($event)" name="Imagen" accept="image/*">
      </div>
      <p *ngIf="imagenError" class="text-danger mt-3">
        {{ imagenError }}
      </p>
    </div>
    <button class="btn btn-info ms-auto" (click)="actualizarServicio()">Guardar</button>
</form>