<!-- Controles -->
<div class="flex flex-col p-4 mb-4 bg-white rounded-lg shadow border border-gray-200">
  <div class="flex gap-2">
    @if (!verSubir && fotos().length < maxFotos) {
      <button type="submit" (click)="verSubir = true" class="w-1/2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition-colors">
        Agregar Fotos
      </button>
    }
    @if (!verSubir){
      <button 
        (click)="actualizarOrden()"
        [disabled]="!hayCambios()" 
        class="w-1/2 px-4 py-2 bg-blue-500 text-white rounded-lg transition-colors
              disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-50
              enabled:hover:bg-blue-700">
        Guardar orden de fotos
      </button>
    }
  </div>
  @if (verSubir) {
    <form (submit)="agregarFotos($event)" enctype="multipart/form-data" class="space-y-4">
      <div class="flex justify-between items-center">
        <label class="block text-sm font-medium text-gray-700">Seleccionar archivos (Max. {{maxFotos-fotos().length
          }})</label>
        <a (click)="verSubir = false" class="text-red-400 material-symbols-outlined">close</a>
      </div>
      <input
        type="file" multiple
        (change)="onFileSelected($event)"
        accept="image/*"
        class="block w-full text-sm text-gray-700 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"/>
        <div class="flex justify-end">
          <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition-colors">
            Subir
          </button>
        </div>
      </form>
    }

    <!-- Visualización de imágenes existentes -->
    @if (fotos().length > 0) {
      <div
        cdkDropList
        [cdkDropListData]="fotos()"
        (cdkDropListDropped)="drop($event)"
        class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4"
      >
        @for (foto of fotos(); track foto.sort) {
          <div
            cdkDrag
            class="bg-white rounded-lg shadow-md overflow-hidden select-none"
          >
            <div class="flex justify-between items-center p-2 bg-gray-100 text-xs">
              <span class="text-gray-500">#{{ foto.sort }}</span>
              <button
                type="button"
                class="text-red-400 material-symbols-outlined"
                (click)="eliminarFoto(foto.idFoto)"
              >
                close
              </button>
            </div>
            <img [src]="foto.url" class="w-full h-40 object-cover pointer-events-none" />
          </div>
        }
      </div>
    }

  </div>


